body{
  margin: 0px;
  padding: 0;
  font-family: 'Arail';  
  background-color: #3498db;
}

.textarea{
  width: 450px;
  overflow: hidden;
  margin: auto;
  margin-top: 180px;
  background: #fff;
  padding: 20px;
  border: 1px solid silver;
  border-radius: 10px;
}

.textarea input {
  width: 400px;
  height: 35px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid silver;
  padding: 5px;
}